<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ingin Lebih Tahu Tentang NAMILABS?</h2>
                <hr class="light">
                <p class="text-faded">
                    Kami <span style="color: rgb(249, 255, 0) !important">memiliki semua yang anda butuhkan</span> untuk memubangun sistem aplikasi.<br />
                    Kami <span style="color: rgb(249, 255, 0) !important">mempunyai visi untuk memberikan solusi</span> berbasis teknologi.<br />
                    Kami <span style="color: rgb(249, 255, 0) !important">mendedikasikan diri untuk selalu memberikan yang terbaik</span> dari segi kualitas, kepuasan dan kepercayaan costumer.
                </p>
            </div>
        </div>
    </div>
</section>
