<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Layanan Apa Yang Kami Berikan?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Pembuatan Website</h3>
                    <p class="text-muted">Namilabs memberikan layanan jasa pembuatan website untuk bisnis maupun non bisnis yang disesuaikan dengan kebutuhan Anda, baik itu website dengan jenis elearning, ecommerce, social media, portal berita ataupun website management</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cube wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Pembuatan Aplikasi</h3>
                    <p class="text-muted">Namilabs memberikan layanan berupa solusi teknologi berupa jasa pembuatan software secara customize yang akan menjawab permasalahan bisnis Anda, mulai dari jasa perancangan, pengembangan aplikasi dan pelatihan operasionalnya.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-desktop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Instalasi Networking</h3>
                    <p class="text-muted">Namilabs memberikan layanan berupa jasa instalasi infrastruktur networking LAN atau instalasi jaringan Server Mikrotik untuk Kantor, Warnet, Sekolah, Lembaga, Kampus, Rumah Sakit, Mall, Pabrik, dan lain sebagainya.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Jasa SEO</h3>
                    <p class="text-muted">Namilabs memberikan layanan berupa jasa SEO (Search Engine Optimization) dalam upaya meningkatkan volume dan kualitas trafik kunjungan secara signifikan ke website yang Anda miliki melalui mesin pencari Google</p>
                </div>
            </div>
        </div>
    </div>
</section>
